@media (max-width: 770px) {
	
	.section-title h2 {
		text-align: center;
	}
	.header-content-endtext  {
	padding-bottom:125px;
	}
	.header-image img {
	width:370px ;
	height:300px ;
	}
	.header-image img {
	width:250px ;
	height:190px ;
}
.product-img img {
	width: 100px;
	padding: 20;
	height:148px;
}
.baner-img img {
	overflow: hidden;
	width: 60%;
	height:auto;
}
.header-content-title h2{
	font-size: 30px;
}
.header-content-heading h1{
	font-size: 75px;
}
.header-content-endtext h2 {
	font-size: 20px;
}
.more-product .more-button {
	width: 40%;
}

	
}

@media (max-width: 570px) {
	.top-links ul {
		justify-content: center;
	}
	.header-content-title h2{
	font-size: 25px;
	}
	.header-content-heading h1{
	font-size: 50px;
	}
	.header-content-endtext h2 {
	font-size: 15px;
	}
	.header-image img {
	width:220px ;
	height:180px ;
	}
	.container {
		width: 100%;
	}
	.product-img img {
	width: 90px;
	padding: 10Spx;
	height:100px;
	}

	.baner-section {
		margin-top:10px;
	}
	.header-content-title {
	padding: 18px;
	}
	.more-product .more-button {
	width: 50%;
	}
	.more-product .more-button a {
		font-size:15px;
	}
	.footer-section {
		text-align: center;
	}
	.footer-section p{
		text-align: center;
	}
	.footer-text {
		padding-top:4px;
	}
	.footer-logo-text ul li:first-child {
	border-right: none;
	}
	.footer-logo-text ul  {
		justify-content: center;
		padding-top:25px;
	}
	.footer {
		padding:5px;
	}
}